# Ignore the default Ruby files and directories
/.bundle/
/log/
/tmp/
/*.gem
/db/*.sqlite3
/db/*.sqlite3-journal
/public/assets
/public/packs
/vendor/bundle

# Ignore RSpec test artifacts
/coverage/
.spec-helpers/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore dotenv or other environment config files
.env
.env.development
.env.production

# Rspec
.rspec_status
